
/*BASE*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root {
    --site-padding: 0.5em 10em 0.5em 10em;
    --pink-colour:#EC9FA7;
    --pearl-colour:#F5F4EF;
    --black-colour:#1D1D1D;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display SC", serif;
}

p {
    font-family: "Nanum Myeongjo", serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.99em;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.49em;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.07em;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.73rem;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1.44rem;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

hr {
    margin: 3em 0em 3em 0em;
}

button {
    font-family: "Nanum Myeongjo", serif;
    background-color: var(--black-colour);
    color: white;
    border: none;
    padding: 1em;
    min-height: 3em;
    min-width: 14em;
}

button:hover {
    color: rgb(104, 104, 104);
}

.signup-button {
    background-color: var(--pink-colour);
    min-height: 3em;
    min-width: 14em;
    border: none;
}

.colour-box-pink {
    background-color: var(--pink-colour);
    border: 0.1em solid var(--black-colour);
}

.colour-box-pearl {
    background-color: var(--pearl-colour);
    border: 0.1em solid var(--black-colour);
}

.colour-box-black {
    background-color: var(--black-colour);
    color: white;
    border: 0.1em solid var(--black-colour);
}



/* Link colour when not hovering*/
button a:link {
    color: rgb(32, 32, 32);
}

/* Link colour of a visited link*/
button a:visited {
    color: grey;
}

/*Link colour when hovering*/
button a:hover {
    color: rgb(104, 104, 104);
}

/*Link colour when clicked*/
button a:active {
    color: darkblue;
}


/*NAVIGATION*/
nav {
    top: 0;
    position: sticky;
    z-index: 200;
    background-color: var(--pearl-colour);
}

.nav-menu, .nav-menu-pages {
    z-index: 100;
    list-style: none;
    text-decoration: none;
}

.nav-menu-pages a {
    padding: 2em;
}

.nav-top {
    z-index: 300;
    max-height: 3.8em;
    justify-content: space-between;
    display: flex;
    top: 0;
    align-items: center;
    border-bottom: var(--black-colour) solid 0.2em;
    padding: var(--site-padding);
}

.nav-bottom {
    font-weight: 600;
    height: auto;
    border-bottom: var(--black-colour) solid 0.1em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

nav ol a {
    text-decoration: none;
    list-style: none;
    color: var(--black-colour);
    padding: 1.5em;
    margin: 0;
}

nav img {
    height: 2.4em;
}

.hamburger, .dropdown {
    display: none;
    min-width: 0em;
    padding: 0;
    margin: 0;
    color: var(--black-colour);
    background-color: transparent;
}


/*HERO*/
header {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: var(--pink-colour);
}

header h1 {
    padding: 14%;
}


/*MAIN*/
main {
    padding: var(--site-padding);
}

#daily-picks, #subsection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    width: 100%;
    gap: 4em;
    margin-bottom: 2em;
}

.dailycards {
    display: block;
    min-height: 10em;
}

.dailycards img {
    max-height: auto;
    width: 100%;
}

.dailycards a {
    height: 100%;
    width: 100%;
    color: black;
    padding: 0.1em;
    background-color: var(--pink-colour);
}

#product-section-wrapper, #cost-wrapper {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1em;
}

#textdiv * * {
    text-align: start;
    display: block;
}

#textdiv button {
    width: 100%;
    text-align: center;
}

#textdiv h6 {
    text-align: end;
}

#textdiv aside {
    margin-top: 2em;
    line-height: 1.4em;
    display: block;
}

#textdiv aside * {
    height: auto;
    text-overflow: hidden;
    overflow: hidden;
    margin-top: 1em;
}

#image img, #cost button, #cart-wrapper button {
    width: 100%;
    height: auto;
}

#cart {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 2em;
}

#cart-item-wrapper {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    gap: 2em;
    width: 100%;
}

#cart-item-wrapper img {
    max-width: 16em;
    height: 100%;
}

#cart-wrapper {
    /* margin-top: 8em; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

input {
    max-width: 32em;
    height: 2.6em;
    background-color: var(--pearl-colour);
    border: none;
}

#more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-bottom: 2em;
}



/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6em;
    min-height: 16em;
    text-align: start;
    padding: var(--site-padding);
    background-color: var(--pearl-colour);
}

footer ol a {
    display: block;
    line-height: 2.4em;
    list-style: none;
    text-decoration: none;
    color: var(--black-colour);
}

#copyright {
    padding: var(--site-padding);
    margin: 0;
    color: white;
    height: 1.6em;
    text-align: center;
    background-color: var(--black-colour);
}




/*RESPONSIVE*/
/* Media query for IPad Pros - less tha 1024*/
@media screen and (max-width: 64em) {
    :root {
        --site-padding: 0.5em 5em 0.5em 5em;
    }
    main {
        display: block;
    }

    .nav-menu-pages a {
        padding: 0.38em;
    }    

    footer {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

/* Media query for IPad Minis - less tha 768*/
@media screen and (max-width: 48em) {
    :root {
        --site-padding: 0.45em 2.4em 0.45em 2.4em;
    }

    .nav-menu, .nav-menu-pages {
        top: 2.6em;
        z-index: 10;
        right: -120%;
        position: fixed;
        display: grid;
        grid-template-columns: 1fr;
        height: max-content;
        width: auto;
        line-height: 2.2em;
        padding: 0;
    }

    .nav-menu-pages {
        z-index: 0;
    }

    .nav-menu.active {
        background-color: #fff;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-left: 0.1em solid var(--black-colour);
        width: max-content;
        gap: 1em;
    }

    .nav-menu-pages.active {
        padding: 0;
        position: initial;
    }

    .hamburger, .dropdown {
        display: block;
        cursor: pointer;
    }

    #daily-picks, #subsection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
        width: 100%;
        gap: 4em;
    }

    .dailycards img {
        height: auto;
    }

    #product-section-wrapper, #cart {
        grid-template-columns: 1fr ;
    }



}

/* Media query for Phones - less tha 480px*/
@media screen and (max-width: 30em) {
    /*Links are blue?????? change that maybe*/
    :root {
        --site-padding: 0.4em 1em 0.4em 1em;
    }

    h1 {
        font-size: 1.875em;
    }
    
    h2 {
        font-size: 1.625em;
    }
    
    h3 {
        font-size: 1.25em;
    }
    
    p {
        font-size: 1em;
    }

    nav {
        padding: 0.375em;
    }

    .nav-menu, .nav-menu-pages {
        top: 2.86em;
    }

    #more {
        grid-template-columns: 1fr;
    }

    #cart-item-wrapper {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;
        gap: 1em;
        width: 100%;
    }
    
    #cart-item-wrapper img {
        object-fit: cover;
        max-width: 6em;
        height: 100%;
    }

    footer {
        grid-template-columns: 1fr;
    }
}